@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Press+Start+2P&display=swap');
html, 
body {
    margin: 0;
    padding: 0;
}

.log {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    height: 100vh;

    background-image: url(img/fons.webp);
    background-size: cover;

    font-family: 'Press Start 2P';
    color: white;

    padding-top: 200px;
}

h2 {
    margin: 0;
    padding-bottom: 20px;
}

form {
    padding-left: 20px;
}

.log input {
    margin-bottom: 20px;
    margin-top: 5px;
}
